:root {
    /* --moss-green: #99BFBB; */
    --moss-green: #8DB0AC;
    --moss-green-opacity: rgba(153, 191, 187, 0.2);
    --dark-green: #345956;
    --olive-green: #59522D;
    --beige-green: #A6A380;
    --aqua: #80D9C7;
    --light-gray: #edf0ee;
    --white: #ffffff;
    --light-brown: #D9C791;
    --orange: #ff5511;

    --inter: 'Inter', sans-serif;
    --montserrat: 'Montserrat', sans-serif;
}

.contain {
    padding-left: 2%;
    padding-right: 2%;
}

body {
    font-family: var(--inter);
    background-color: var(--white);
    margin: 2rem;
    background: linear-gradient(var(--white), var(--light-gray)) fixed;
}

label {
    display: none;
}

.title__header{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: 100%;
    justify-content: space-between;
}

.title__header h1{
    width: 100%;
}


.title__anchor{
    width: 20%;
    margin-top: 3rem;
    margin-bottom: .5rem;

    display: flex;
    flex-direction: row;
    box-sizing: border-box;    
    justify-content: right;
}

.title__anchor:hover{
    text-decoration: none; 
    color: var(--olive-green);    
    font-weight: bold;
}

.title__anchor p{
    margin-bottom: 0;
    align-self: center;
    text-decoration: none;
    color: var(--dark-green); 
}

.title__anchor p:hover{    
    color: var(--olive-green); 
    font-weight: bold;
}

.title__anchor img{
    height: 32px;
    align-self: center;
    margin-left: 0.5rem;
}

footer{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-between;
    align-content: flex-start;
    width: 100%;
    margin-top: 4rem;
}

.footer__text{
    align-self: center;
    font-size: 1rem;
    color: var(--olive-green);
    font-family: var(--montserrat);
    letter-spacing: 0.3rem;
}

.footer__text a{
    text-decoration: none;
    color: var(--olive-green);
}