.documents__box{
    margin-bottom: 2rem;
    margin-top: 1.75rem;    
}

.documents__item{
    height: 450px;
    border: 1.5px solid var(--olive-green);
    border-radius: 8px;
    padding: 2rem;
    background-color: var(--moss-green-opacity);
    color: var(--dark-green);
    justify-content: space-around;
}

.documents__item h3{
    letter-spacing: 0.2rem;
}

.documents__item p{
    text-align: center;
    align-self: start;
}

.documents__proces{
    height: 40px;
    padding: 0.5rem;
    border: 1px solid var(--olive-green);
    border-radius: 4px;
}