main {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-evenly;
    align-content: flex-start;
}

.accueil {
    padding: 0;
}

.accueil__subtitle {
    font-size: 1rem;
    color: var(--olive-green);
    margin-bottom: 1rem;
    font-weight: bold;
    letter-spacing: 0.3rem;
    box-sizing: border-box;
}

.accueil__box {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--beige-green);
    padding: 1rem;
    background-color: var(--moss-green-opacity);
    justify-content: center;
    margin-bottom: 0.5rem;
}

.accueil__text {
    text-align: justify;
    text-justify: inter-word;
    margin-bottom: 0;
    width: 100%;
}

.message-sondage-babillard {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-between;
    align-content: flex-start;
    width: 100%;
    margin-top: 2rem;
}

@media screen and (min-width: 1440px) {
    main {
        flex-direction: row;
        margin: 1rem;
    }

    .message-sondage-babillard {
        margin-top: 3rem;
    }

    .accueil {
        display: flex;
        box-sizing: border-box;
    }

    .accueil__subtitle {
        font-size: 1rem;
        color: var(--olive-green);
        margin-bottom: 1rem;
        font-weight: bold;
        letter-spacing: 0.3rem;
        box-sizing: border-box;
    }

    .accueil__text {
        text-align: justify;
        text-justify: inter-word;
        margin-bottom: 0;
        width: 100%;
    }

}