:root {
    /* --moss-green: #99BFBB; */
    --moss-green: #8DB0AC;
    --moss-green-opacity: rgba(153, 191, 187, 0.2);
    --dark-green: #345956;
    --olive-green: #59522D;
    --beige-green: #A6A380;
    --aqua: #80D9C7;
    --light-gray: #edf0ee;
    --gray: #58555A;
    --white: #ffffff;
    --light-brown: #D9C791;
    --orange: #ff5511;
    --light-red: #FA9290;

    --inter: 'Inter', sans-serif;
    --montserrat: 'Montserrat', sans-serif;
    --redHat: 'Red Hat Display', sans-serif;
}

body {
    font-family: var(--inter);
    background-color: var(--white);
    margin: 2rem;
    background: linear-gradient(var(--white), var(--light-gray)) fixed;
    font-weight: bolder;
    color: var(--gray);
}

label {
    display: none;
}

.message {
    display: none;
}

.title__header {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid var(--olive-green);
    margin-top: 1.5rem;
}

.title__anchor {
    display: none;
}


footer {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-between;
    align-content: flex-start;
    width: 100%;
    margin-top: 3rem;
}

.footer__text {
    text-align: center;
    font-size: 0.75rem;
    color: var(--olive-green);
    font-family: var(--montserrat);
    letter-spacing: 0.3rem;
}

.footer__text a {
    text-decoration: none;
    color: var(--olive-green);
}

@media screen and (min-width: 1440px) {   
    .title__header {        
        margin-top: 3rem;
    }

    .title__anchor {
        text-decoration: none;
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
        justify-content: right;
        align-content: flex-end;        
    }

    .title__anchor:hover {
        text-decoration: none;
        color: var(--olive-green);
        font-weight: bold;
    }

    .title__anchor p {
        margin-bottom: 0;
        align-self: center;
        text-decoration: none;
        color: var(--dark-green);
    }

    .title__anchor p:hover {
        color: var(--olive-green);
        font-weight: bold;
    }

    .logout-img {
        height: 32px;
        align-self: center;
        margin-left: 0.5rem;
    }

    .footer__text {
        font-size: 1rem;
    }

}