.message-sondage {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-between;
    align-content: flex-start;
    margin-top: 2rem;
    width: 100%;
}

.message {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.message__box {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
}

.message__text {
    overflow-y: auto;
    padding-right: 1.5rem;
    box-sizing: border-box;
    overflow-wrap: break-word;

}

.message__text-date {
    font-size: 0.75rem;
    margin-top: 0.5rem;
}


@media screen and (min-width: 1440px) {
    .message-sondage {
        flex-direction: row;
    }

    .message{
        margin-right: 1rem;
    }

    .message__box {
        height: 230px;
    }

    .message__box {
        width: 25rem;
    }
}